{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=1100">
    <meta name="robots" content="all">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
    <script type="text/javascript" src="{% static 'js/js_additionals.js' %}"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@300&family=Ubuntu&display=swap" rel="stylesheet">
    <title>Home page</title>
</head>

<body>
    <div class="wrapper">
        <h3>Поля формы для задания:</h3>
        <form name="myform" method="post" onsubmit="return false;">
            {% csrf_token %}

            <p>Request (для задания)</p>
            <input type="text" name="request_for_add" class="cls_request_for_add" readonly="true" id="id_request_for_add">


            <p>Дополнительное поле для примера (возможно textarea будет удобнее input'a на функционал это не влияет)</p>
            {{ form.additionals }}<br>



        </form>
        <input type="button" value="Отправить" onclick="document.forms['myform'].submit();">
    </div>
</body>
